body{
    height: 100%;
    background-image: url(../../img/bgimage.jpg);
    background-size: cover;
}

.home-main-col{
    margin: 9% 0 0 0;
    /* background-color: rgb(252, 247, 247); */
    box-shadow: -10px 15px 10px 0  rgba(14, 14, 14, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color:rgba(26, 23, 23, 0.3);
    border-radius: 12px;
}

.home-content-row{
    border-radius: 12px;
    box-shadow: -10px 15px 10px 0  rgba(14, 14, 14, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.app-content{
    background: url(../../img/car-sharing.jpg) no-repeat;
    background-size: cover;
    border-radius: 12px;
}

.sub-app-content{
    text-align: center;
    padding: 20% 0 10% 0;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-size: cover;
    border: 1px solid black;
    border-radius: 12px;
    opacity: 0.7;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.letsgo{
    font-weight: 1000;
    font-size: 30px;
    margin-left: 5%;
}

.login-form{
    margin: 10% 10% 5% 10%;
    padding: 5% 5% 5% 8%;
    -moz-box-shadow:    8px 8px 5px 0px rgb(19, 17, 17);
    -webkit-box-shadow: 8px 8px 5px 0px rgb(19, 17, 17);
    box-shadow:         8px 8px 5px 0px rgb(19, 17, 17);
}


.login-form-button{
    display: block;
    margin-bottom: 5%;
    background-color: rgb(0, 204, 255);
}

.register-now-link a{
    font-size: 16px;
    font-weight: bold;
    color: rgb(0, 204, 255);
}

.register-now-link a:hover{
    font-size: 16px;
    font-weight: bold;
    border-top: 1px solid rgb(1, 110, 138);
    border-bottom: 1px solid rgb(1, 110, 138);
}
.login-form-forgot{
    float: right;
}

.social-media-icon{
    font-size: 180%;
    color: white;
}

.social-media-icon:hover{
    font-size: 180%;
    color: rgb(0, 204, 255);
}

#social-media-align-single{
    padding-top: 5%;
}

#phonenumber{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
#phonenumber::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
  
        #phonenumber {
            -moz-appearance: textfield;
        }

.logo-ride-share-img img{
 width: 30%;
}


@media only screen and (max-width: 766px) {
    /* body{
        height: 100%;
        background-color: #0cbaba;
        background-size: cover;
    } */
    
    .sub-app-content{
        text-align: center;
        margin: 3% 5% 0 5%;
        padding: 5% 0 5% 0;
        background-color:none;
        opacity: 1;
    }

    .sub-app-content #letsgo{
        font-weight: 900;
        font-size: 25px;
    }
    .login-form{
        margin: 8% 20% 8% 20%;
        border: 1px solid #888;
        border-radius: 12px;
        padding: 8% 5% 2% 5%;
        border-radius: 12px;
        background-color: #000;
    }
    .home-main-col{
        margin: 2% 0 0 0;
        background-color: transparent;
    }
    .app-content{
        background-image: none;
    }
    .home-content-row{
        border: none;
    }

    .logo-ride-share-img{
        width: 30%;
       }
  }

